:root {
  --apt-color-01: #000000;
  --apt-color-02: #01060E;
  --apt-color-03: #051019;
  --apt-color-04: #0A1924;
  --apt-color-05: #21211C;
  --apt-color-06: #022742;
  --apt-color-07: #2F2921;
  --apt-color-08: #413422;
  --apt-color-09: #0B3F57;
  --apt-color-10: #664024;
  --apt-color-11: #18556A;
  --apt-color-12: #5B5752;
  --apt-color-13: #845328;
  --apt-color-14: #35737D;
  --apt-color-15: #0279A3;
  --apt-color-16: #817763;
  --apt-color-17: #A66B35;
  --apt-color-18: #4A9FAE;
  --apt-color-19: #A98C76;
  --apt-color-20: #C7833D;
  --apt-color-21: #89B2A7;
  --apt-color-22: #DC9848;
  --apt-color-23: #24BDD8;
  --apt-color-24: #D6AE7E;
  --apt-color-25: #EDAF57;
  --apt-color-26: #C0C8A9;
  --apt-color-27: #73DDEA;
  --apt-color-28: #F8C265;
  --apt-color-29: #FBD484;
  --apt-color-30: #AAF1F3;
  --apt-color-31: #FDEFB4;
  --apt-color-32: #FCFDF7;
}
