attrs==26.1.0
cloudpickle==3.1.2
coloraide==8.13
joblib==1.6.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
narwhals==2.26.0
numpy==2.5.3
pillow==12.3.0
referencing==0.37.0
rpds-py==2026.9.1
scikit-learn==1.9.1
scipy==1.18.1
threadpoolctl==3.7.0
