:root {
  --apt-color-01: #000000;
  --apt-color-02: #010001;
  --apt-color-03: #020201;
  --apt-color-04: #01060E;
  --apt-color-05: #051019;
  --apt-color-06: #0A1924;
  --apt-color-07: #21211C;
  --apt-color-08: #052F4A;
  --apt-color-09: #413422;
  --apt-color-10: #174657;
  --apt-color-11: #664024;
  --apt-color-12: #015996;
  --apt-color-13: #5B5752;
  --apt-color-14: #296876;
  --apt-color-15: #845328;
  --apt-color-16: #786D5D;
  --apt-color-17: #0279A3;
  --apt-color-18: #A66B35;
  --apt-color-19: #3A929C;
  --apt-color-20: #038FCD;
  --apt-color-21: #A98C76;
  --apt-color-22: #C7833D;
  --apt-color-23: #DA903B;
  --apt-color-24: #24BDD8;
  --apt-color-25: #EAA548;
  --apt-color-26: #D6AE7E;
  --apt-color-27: #B4BC9A;
  --apt-color-28: #F8C265;
  --apt-color-29: #88E6F2;
  --apt-color-30: #D8D7CE;
  --apt-color-31: #FAE0A0;
  --apt-color-32: #FCFDF7;
}
